[Desktop Entry]
Version=0.9.4
Type=Application
Name=urxvt daemon
Comment=urxvt daemon process
Exec=urxvtd -q -f -o
StartupNotify=false
Terminal=false
Hidden=false

